:global(body) {
  position: relative;


}

.title{
    text-align: center;
    padding: 5em;
    font-size: 40px;
    font-weight: bold;
}

.groups{
    height: 14em;
    padding: 1.5em;
    text-align: center;
    font-weight: bold;
    font-size: 24px;
    background-color: #ecf0f1;
    border: 5px solid white;
    margin-bottom: 2em;
}

.show-col{
    border: 2px solid green;
}

.show-grid{
    border: 5px solid red;
}

.container-image{
}

