:global(body) {
  position: relative;


}

.title{
    text-align: center;
    padding: 5em;
    font-size: 40px;
    font-weight: bold;
}

.show-col{
    border: 2px solid green;
}

.show-grid{
    border: 5px solid red;
}

.container-image{
}

