:global(body) {
  position: relative;


}

.title{
    text-align: center;
    padding: 4em;
    font-size: 40px;
    font-weight: bold;
}

.group{
    height: 10em;
    padding: 1em;
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    background-color: #ecf0f1;
    border: 5px solid white;
    margin-bottom: 2em;
}

.sub-group{
    font-size: 16px;
}

.show-col{
    border: 2px solid green;
}

.show-grid{
    border: 5px solid red;
}

.container-image{
}

